# Description: Environment variables for the application

# HTML
VITE_APP_TITLE="Name Surname"
VITE_APP_ICON="https://www.svgrepo.com/show/207160/business-card-id-card.svg"
VITE_APP_BACKGROUND_COLOR="#F2F2F2"

# Business Card
VITE_APP_BUSINESS_CARD_PRIMARY_COLOR="#0D4398"
VITE_APP_BUSINESS_CARD_SECONDARY_COLOR="#FFFFFF"
VITE_APP_BUSINESS_CARD_TITLE="Name Surname"
VITE_APP_BUSINESS_CARD_SUB_TITLE="Super Sayan"
VITE_APP_BUSINESS_CARD_MOTTO="Your favorite quote"
VITE_APP_BUSINESS_CARD_VERSION="1"

# Business Card Contact
VITE_APP_BUSINESS_CARD_CONTACT_LINKEDIN="https://www.linkedin.com/in/name-surname"
VITE_APP_BUSINESS_CARD_CONTACT_GITHUB=
VITE_APP_BUSINESS_CARD_CONTACT_EMAIL="name.surname@gmail.com"
VITE_APP_BUSINESS_CARD_CONTACT_PHONE=
