.app__business-card__v1 {
  width: 600px;
  height: 300px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-inline: 3rem;

    h1 {
      font-size: 46px;
      font-weight: 700;
    }

    h2 {
      font-size: 28px;
      font-weight: 400;
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      margin-top: 2.5rem;
      text-align: center;
      font-style: italic;
      max-width: 60ch;
    }
  }
}

@media (max-width: 700px) {
  .app__business-card__v1 {
    width: 100%;

    &__content {
      h1 {
        font-size: 2.25rem;
      }

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 400px) {
  .app__business-card__v1 {
    &__content {
      h1 {
        font-size: 1.85rem;
      }

      h2 {
        font-size: 1.25rem;
      }

      p {
        font-size: 0.85rem;
      }
    }
  }
}
