.app__business-card__v2__image {
  width: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__hexagon {
    width: 100px;
    text {
      fill: #ffffff;
      font-size: 40px;
      font-weight: 700;
    }
  }
}

@media (max-width: 500px) {
  .app__business-card__v2__image {
    display: none;
  }
}
