.app__business-card__v2 {
  width: 600px;
  height: 300px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row-reverse;
}
