.app__business-card__v3__image {
  width: 600px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 2rem;
  padding-inline: 1rem;

  svg {
    width: 180px;
    opacity: 0.03;
  }

  &__background:nth-child(2) {
    transform: scaleX(-1);
  }
}

@media (max-width: 600px) {
  .app__business-card__v3__image {
    &__background:nth-child(2) {
      display: none;
    }
  }
}

