@use './styles/reset.scss';
@use './styles/app.scss';

// V1
@use './styles/v1/app_business-card-v1-background-image.scss';
@use './styles/v1/app_business-card-v1-contact.scss';
@use './styles/v1/app_business-card-v1-container.scss';
@use './styles/v1/app_business-card-v1-separator.scss';
@use './styles/v1/app_business-card-v1.scss';

// V2
@use './styles/v2/app_business-card-v2-contact.scss';
@use './styles/v2/app_business-card-v2-image.scss';
@use './styles/v2/app_business-card-v2-content.scss';
@use './styles/v2/app_business-card-v2.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

#root {
  font-family: Nunito, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  height: 100%;
  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

